@media screen  and (min-width: 640px) {

 
.sm-100{
    width: 100%;
}
.sm-50{
    width: 50%;
}
.sm-33{
    width: 33.33%;
}
.sm-25{
    width: 25%;
}
    
}

@media screen  and (min-width: 768px) {



    .md-100{
        width: 100%;
    }
    .md-50{
        width: 50%;
    }
    .md-33{
        width: 33.33%;
    }
    .md-25{
        width: 25%;
    }
    
}
@media screen  and (min-width: 1024px) {

  
    .m-100{
        width: 100%;
    }
    .m-50{
        width: 50%;
    }
    .m-33{
        width: 33.33%;
    }
    .m-25{
        width: 25%;
    }
    
}
@media screen  and (min-width: 1280px) {

    .l-100{
        width: 100%;
    }
    .l-50{
        width: 50%;
    }
    .l-33{
        width: 33.33%;
    }
    .l-25{
        width: 25%;
    }
    
}